        /* combined selectors */
        li, footer {
            font-style: italic;
            background-color: aqua;
        }

        /* change fonts in the whole document */
        html {
            /* em and rem  -- remative values for sizing */

            /* 1em will be equal to the font size we specify for the tag */
            /* in we make h1 { font-size: 20px } --> for h1 1em will be == 20px*/ 
            
            /* 1rem will be equal to 18px as we have specified it on 18px  */
            
            /* by default the font-size of html doc is == 16px */
            /* font-size: 18px; 
            line-height: 1.5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: normal; */
            /* is equalt to */
            font: normal, 18px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


        }

        /* inheritance in css -- to inherit from direct parent */
        body, table, form {
            font: inherit;
        }
