html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.box {
    border: 1px solid red;
    max-width: 900px;
}
.box-contents {
    height: 100px;

}
.inline-block {
    border: 2px solid purple;
    padding: 1em;
    max-width: 900px;
    text-align: center;
}
.inline-block .col {
    display: inline-block;
    width: 32%;
    background: #CCC;
    padding: 2em;
}